/******************************************
*  Author : Huu Quoc   
*  Created On : Sat Sep 11 2021
*******************************************/

@import url('https://fonts.googleapis.com/css?family=Glory');
body {
    overflow: hidden;
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

img {
    position: relative;
    width: calc(100vw + 50px);
}

#loading {
    font-size: 80px;
    position: absolute;
    font-family: 'Glory';
    font-weight: 600;
    color: antiquewhite;
    text-shadow: 2px 2px 3px rgb(255, 136, 0);
    transition-property: opacity;
    transition-duration: 1s;
    transition-delay: 0.5s;
}